<div class="row">
    <!------------ Company/Provider profile -------------------->
    <div class="col-lg-5 col-sm-6">
        <section class="widget bg-primary text-white">
            <div class="widget-body clearfix">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="widget-icon">
                            <i class="glyphicon glyphicon-globe"></i>
                        </span>
                    </div>
                    <div class="col-xs-9">
                        <p class="h2 no-margin fw-normal">Kiddified Inc.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <h5 class="no-margin">Phone</h5>
                        <p class="h4 no-margin fw-normal">408-000-9999</p>
                    </div>
                    <div class="col-xs-7">
                        <h5 class="no-margin">Email</h5>
                        <p  class="h4 no-margin fw-normal">Info@Golivelabs.com</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!------------- Product/Service detail ----------------------->
    <div class="col-lg-5 col-sm-6">
        <section class="widget bg-info text-white">
            <div class="widget-body clearfix">
                <div class="row">
                    <div class="col-xs-3">
                        <span class="widget-icon">
                            <i class="glyphicon glyphicon-certificate"></i>
                        </span>
                    </div>
                    <div class="col-xs-9">
                        <p class="h2 no-margin fw-normal">Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <h5 class="no-margin">Ads ID:</h5>
                        <p class="h4 no-margin fw-normal">408-000-9999</p>
                    </div>
                    <div class="col-xs-7">
                        <h5 class="no-margin">Email</h5>
                        <p  class="h4 no-margin fw-normal">Info@Golivelabs.com</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!----------------------- Accordion section ------------------------>

    <div class="col-lg-10 col-sm-12">
        <div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
            <div class="panel panel-default">
                <div class="panel-heading collapsed">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#profile">
                            Company/Provider profile
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="profile" class="panel-collapse collapse">
                    <div class="panel-body">
                        Company or Service Provider profile
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#description">
                            Ads - Descripton
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="description" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p><span class="fw-semi-bold">Light Blue</span> - Ads Description
                        </p>
                        <p class="no-margin text-muted"><em>- Some One</em></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#review">
                            Reviews
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="review" class="panel-collapse collapse">
                    <div class="panel-body">
                        All the reviews
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>