<ol class="breadcrumb">
    <li>YOU ARE HERE</li>
    <li class="active">Advanced Search</li>
</ol>
<h1 class="page-title"> Search by distance </h1>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <section class="widget">
            <div class="widget-body">
                <form class="form-horizontal form-label-left" method="post"
                      data-ui-jq="parsley"
                      data-parsley-priority-enabled="false"
                      novalidate="novalidate">

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="fromLocation">
                            From location
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="fromLocation" name="fromLocation" class="form-control"
                                   data-parsley-trigger="change"
                                   data-parsley-validation-threshold="1"
                                   required="required"
                                   placeholder="eg: Mountain View">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="myLocation">
                            My current location
                        </label>
                        <div class="col-sm-9">

                            <input type = "checkbox" id="myLocation" name="myLocation"
                                   data-parsley-trigger="change"/>
                        </div>
                    </div>

                    <div class="form-group" data-ng-controller="RangeController" rangeChange>
                        <label class="control-label col-sm-3" for="miles">
                            Range in miles
                        </label>
                        <div class="col-sm-9">
                            <input type="range" id="miles" name="miles"
                                   value="0"
                                   data-parsley-trigger="change"
                                   required
                                   ng-model="onChange"/>
                            <p>{{onChange}} miles</p>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-danger btn-rounded">Search</button>
                        <button type="button" class="btn btn-default btn-rounded pull-right">Cancel</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>