<div class = "persona-parent col-md-8 ">
    <div>
        <div class="col-md-4 pull-right">
            <img class="persona-image" src="/demo/a3.jpg">
        </div>
        <div class="col-md-6 pull-left">
            <ul class = "persona list">

                <li class = "persona-info">
                    <div class = "persona block left">
                        <span class="persona element">
                            Name
                        </span>
                    </div>
                    <div class="persona block right">
                        <span class = "persona element">
                            Jenny
                        </span>
                    </div>

                </li>
                <li class = "persona-info">
                    <div class = "persona block left">
                        <span class="persona element">
                            Age
                        </span>
                    </div>
                    <div class="persona block right">
                        <span class = "persona element">
                            27
                        </span>
                    </div>

                </li>
                <li class = "persona-info">
                    <div class = "persona block left">
                        <span class="persona element">
                            Likes
                        </span>
                    </div>
                    <div class="persona block right">
                        <span class = "persona element">
                            Teaching, children and writing children's stories
                        </span>
                    </div>

                </li>
                <li class = "persona-info">
                    <div class = "persona block left">
                        <span class="persona element">
                            Lives at
                        </span>
                    </div>
                    <div class="persona block right">
                        <span class = "persona element">
                            Mountain View
                        </span>
                    </div>

                </li>

                <li class = "persona-info">
                    <div class = "persona block left">
                        <span class="persona element">
                            Joined on
                        </span>
                    </div>
                    <div class="persona block right">
                        <span class = "persona element">
                            June 3, 2015
                        </span>
                    </div>

                </li>

            </ul>
        </div>

    </div>

</div>