
<h1 class="page-title fw-semi-bold">Provider/Service Registration</h1>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <h4>Please provide details of your company/service</h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body row">
                <div class="col-md-8">
                    <div data-bootstrap-wizard data-height="444" class="form-wizard">
                        <ul class="nav-justified mb-sm">
                            <li><a href="#tab1" data-toggle="tab">
                                <small>1.</small>
                                Profile</a></li>
                            <li><a href="#tab2" data-toggle="tab">
                                <small>2.</small>
                                Description</a></li>
                            <li><a href="#tab3" data-toggle="tab">
                                <small>3.</small>
                                Account</a></li>
                            <li><a href="#tab4" data-toggle="tab">
                                <small>4.</small>
                                Submit</a></li>
                        </ul>
                        <div id="bar" class="progress progress-xs">
                            <div class="progress-bar progress-bar-gray-light"></div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane bg-gray-lighter" id="tab1">
                                <form action='' method="POST" data-parsley-priority-enabled="false"
                                      novalidate="novalidate">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="company">Company/Service</label>
                                            <input type="text" id="company" name="company" class="form-control"
                                                   required="required">
                                            <span class="help-block">Name of your company or service</span>
                                        </div>
                                        <div class="form-group">
                                            <!-- Email -->
                                            <label for="email">Email</label>
                                            <input type="email" id="email" name="email"
                                                   placeholder="" class="form-control"
                                                   data-parsley-trigger="change"
                                                   required="required">
                                            <span class="help-block">Please provide company/service E-mail</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" id="address" name="address"
                                                   class="form-control">
                                            <span class="help-block">Please provide company/service address</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" id="phone" name="address"
                                                   class="form-control">
                                            <span class="help-block">Please provide company/service phone</span>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tab-pane bg-gray-lighter" id="tab2">
                                <form action='' method="POST"
                                          data-parsley-priority-enabled="false"
                                          novalidate="novalidate">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="business">Choose type of business</label>
                                            <select id="business" data-placeholder="Choose an option.."
                                                    class="form-control chzn-select" data-ui-jq="select2">
                                                <option value=""></option>
                                                <option value=0>Commercial - Sell</option>
                                                <option value=1>Commercial - Service</option>
                                                <option value=2>Commercial - Sell & Service</option>
                                                <option value=3>Individual - Sell</option>
                                                <option value=4>Individual - Service</option>
                                                <option value=5>Individual - Sell & Service</option>
                                                <option value=6>Other</option>
                                            </select>
                                            <span class="help-block">Please select option best describe your business</span>

                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="tab-pane bg-gray-lighter" id="tab3">
                                <form action='' method="POST">
                                </form>
                            </div>
                            <div class="tab-pane bg-gray-lighter" id="tab4">
                                <h2>Thank you!</h2>

                                <p>Your submission has been received.</p>
                            </div>
                            <ul class="pager wizard">
                                <li class="previous">
                                    <button class="btn btn-default btn-rounded pull-left">
                                        <i class="fa fa-caret-left"></i> &nbsp; Previous
                                    </button>
                                </li>
                                <li class="next">
                                    <button class="btn btn-primary btn-rounded pull-right" >
                                        Next &nbsp; <i class="fa fa-caret-right"></i></button>
                                </li>
                                <li class="finish" style="display: none">
                                    <button class="btn btn-success btn-rounded pull-right" >
                                        Finish &nbsp; <i class="glyphicon glyphicon-ok"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>