<div class="row" ng-controller="ImageUploadController">

    <div class="col-md-3">

        <h3>Select Images</h3>

        <input type="file" multiple accept="image/*"  /><br/>

    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <!--
                <th ng-show="uploader.isHTML5">Size</th>
                <th ng-show="uploader.isHTML5">Progress</th>
                -->
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr> <!--ng-repeat="item in uploader.queue"-->
                <td><strong>{{ item.file.name }}</strong></td>

                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" >
                            <!--ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" -->
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
        </div>
    </div>

    <div class="row gallery">
        <div ng-repeat="image in images" class="col-sm-6 col-md-3 gallery-item">
            <div class="thumbnail">
                <img ng-src="/img/uploads/{{image}}" alt="..." height="200" width="200"/>
            </div>
        </div>
    </div>

</div>

